name: unit-tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'MANIFEST.in'
      - 'README.rst'
      - 'THANKS.rst'
      - 'COPYING.txt'
      - 'requirements**.txt'
      - '.gitignore'
      - '.gitattributes'

jobs:
  build:
    runs-on: ubunutu-20.04
    strategy:
      matrix:
        python-version:
          - 3.7
          - 3.9
        h5py-version:
          - 2.6
          - 2.10
          - 3.0
          - 3.1
          - 3.2
        architecture:
          - x86
          - x64
        include:
          - python-version: 3.5
            h5py-version: 2.6
            architecture: x64
          - python-version: 3.5
            h5py-version: 2.10
            architecture: x64
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }} on ${{ matrix.architecture }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.architecture }}
    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install gcc libhdf5-serial-dev libblas-dev liblapack-dev libatlas-base-dev libquadmath0
    - name: Install Python dependencies including h5py ${{ matrix.h5py-version }}
      env:
        H5PY_VERSION: ${{ matrix.h5py-version }}
      run: |
        python -m pip install -U numpy Cython
        python -m pip install h5py==$H5PY_VERSION
        python -m pip install -r requirements_tests.txt
        python -m pip install .
    - name: Install Example Plugin Package
      run: |
        python -m pip install -e examples/example_hdf5storage_marshaller_plugin
    - name: Test with pytest
      run: |
        pytest
